/*Main Welcome*/
html,body {
  padding:0;
  margin:0;
  height:100%;
  min-height:100%;
 }
.quarter{
  border: 1px solid red;
  width:50%;
  height:100%;
  float:left;
}
.contents{
  height:50%;
  width:100%;
}

/*James*/

ja_mainWelcome {
  position: relative;
}

.ja_welcomePage {
  position: relative;
}

#ja_testdiv {
  margin: auto;  
  position: relative;
  left:0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 300px;
  height: 300px;
  background-color: #88BB00;
  font-family: 'Droid Serif', serif;
  animation: square-to-circle 2s .5s infinite cubic-bezier(1,.015,.295,1.225) alternate;
}

@keyframes square-to-circle {
  0%  {
    border-radius:0 0 0 0;
    background:#88BB00;
    transform:rotate(0deg);
  }
  25%  {
    border-radius:50% 0 0 0;
    background:#558800;
    transform:rotate(45deg);
  }
  50%  {
    border-radius:50% 50% 0 0;
    background:#447722;
    transform:rotate(90deg);
  }
  75%  { 
    border-radius:50% 50% 50% 0;
    background:green;
    transform:rotate(135deg);
  }
  100% {  
    border-radius:50%;
    background:darkgreen;
    transform:rotate(180deg);
  }
}

/*End James*/

/*Ryan*/
/*End Ryan*/

/*Patrick*/
/*End Patrick*/

/*Jim*/
/*End Jim*/