/*Main Welcome*/
html,body {
  padding:0;
  margin:0;
  height:100%;
  min-height:100%;
 }

 /*div{
   border: 1px solid darkorange;
 }*/

.quarter{
  border: 1px solid white;
  width:50%;
  height:100%;
  float:left;
  background-color:lightgrey;
}

.contents{
  height:50%;
  width:100%;
}

#passwordBox{
  display: table;
  margin:0 auto;
  top: 10px;
}

#userBox{
  display: table;
  margin:0 auto;
  top: 10px;
}

#passwordRemove {
  width: 2em;
  color: darkred;
  position:absolute;
  top:0;
  right:0;
}

.loginButton {
  position: fixed;
  bottom: 10px;
  left: 77px;
}

.glyphicon.glyphicon-remove-circle{
  font-size: 2em;
}

@keyframes square-to-circle {
  0%  {
    border-radius:0 0 0 0;
    background:#88BB00;
    transform:rotate(0deg);
  }
  25%  {
    border-radius:50% 0 0 0;
    background:#558800;
    transform:rotate(45deg);
  }
  50%  {
    border-radius:50% 50% 0 0;
    background:#447722;
    transform:rotate(90deg);
  }
  75%  { 
    border-radius:50% 50% 50% 0;
    background:green;
    transform:rotate(135deg);
  }
  100% {  
    border-radius:50%;
    background:darkgreen;
    transform:rotate(180deg);
  }
}
/*End Main Welcome*/

/*James*/

ja_mainWelcome {
  position: relative;
}

.ja_welcomePage {
  position: relative;
}

#ja_JamesDiv{
  margin: auto;  
  position: relative;
  left:0;
  right: 0;
  top: 100px;
  bottom: 0;
  width: 300px;
  height: 300px;
  background-color: #88BB00;
  font-family: 'Droid Serif', serif;
}

#ja_divtext{
  position: absolute;
  text-align: center;
  text-shadow: 2px 2px grey;
  right: 41%;
  top: 24%;
  color: floralwhite;
  font-size: 40px;
}

.ja_resumeName {
  position: absolute;
  left: 0;
}

.ja_logOutButton {
  position: relative;
  left: 220px;
}

.ja_container {
  max-width: 960px;
  margin: 0 auto;
}

section.ja_module:last-child {
  margin-bottom: 0;
}
section.ja_module h2 {
  margin-bottom: 40px;
  font-family: "Roboto Slab", serif;
  font-size: 30px;
}
section.ja_module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}
section.ja_module p:last-child {
  margin-bottom: 0;
}
section.ja_module.ja_content {
  padding: 40px 0;
}
section.ja_module.ja_parallax {
  height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
section.ja_module.ja_parallax h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 48px;
  line-height: 600px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
section.ja_module.parallax-1 {
  background-image: url("./images/ja_headerBackground.jpg");
}
section.ja_module.parallax-2 {
  background-image: url("./images/ja_background5.jpg");
}
section.ja_module.parallax-3 {
  background-image: url("./images/ja_background4.jpg");
}

@media all and (min-width: 600px) {
  section.ja_module h2 {
    font-size: 42px;
  }
  section.ja_module p {
    font-size: 20px;
  }
  section.ja_module.ja_parallax h1 {
    font-size: 96px;
  }
}
@media all and (min-width: 960px) {
  section.ja_module.ja_parallax h1 {
    font-size: 160px;
  }
}

/* James Software list */

#ja_softwareList {
  width: 66%;
}

.ja_softwareVideo {
  position: absolute;
  right:0;
}

/* James About Me */

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

/* James Education */

#ja_collegeBox {
  position: absolute;
  width: 100%;
  top: 20%;
}
.ja_collegeVideo {
  position: absolute;
  right:10%;
}

/*End James*/

/*Ryan*/

ry_mainWelcome {
  position: relative;
}

#ry_RyanDiv{
  margin: auto;  
  position: relative;
  left:0;
  right: 0;
  top: 100px;
  bottom: 0;
  width: 300px;
  height: 300px;
  background-color: #88BB00;
  font-family: 'Droid Serif', serif;
}

#ry_divtext{
  position: absolute;
  text-align: center;
  text-shadow: 2px 2px grey;
  right: 41%;
  top: 24%;
  color: floralwhite;
  font-size: 40px;
}
/*.ry_thumbnail:hover {
    position:relative;
    top: 5px;
    left: 5px;
    width: 1000px;
    height: auto;
    display: block;
    z-index:2000;
}*/
.ry_btn-social {
    width: 300px;
    position: relative;
    opacity: 1;
    transition: 0.3s ease;
    cursor: pointer;
}

.ry_btn-social:hover {
    transform: scale(1.75, 1.75); /** default is 1, scale it to 1.5 */
    opacity: 1;
    z-index: 2;
}
.ry_picture-radius {
    display: block;
    margin: auto;
    border-radius: 50%;
    
}
#ry_body {
  background-image: url("./images/denver.jpg"), url("./images/denver2.jpg"), url("./images/black.jpg");
  background-repeat: repeat, repeat, repeat;
  background-size: 100%;
}
#ry_transparency {
  opacity: 0.9;
}

.ry_social {
  padding-right: 37px;
}
/*End Ryan*/

/*Patrick*/

pa_mainWelcome {
  position: relative;
}

#pa_PatrickDiv{
  margin: auto;  
  position: relative;
  left:0;
  right: 0;
  top: 100px;
  bottom: 0;
  width: 300px;
  height: 300px;
  background-color: #88BB00;
  font-family: 'Droid Serif', serif;
}

#pa_divtext{
  position: absolute;
  text-align: center;
  text-shadow: 2px 2px lightgrey;
  right: 41%;
  top: 24%;
  color: floralwhite;
  font-size: 40px;
}

#pa_p{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 16;
  color: white;
}

#pa_now-btn{
    text-align: center;
    background-color: #ffa559;
    border: 5px, bold, purple;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 35px;
    border-radius: 2em;
}
#pa_now-pic{
  width: 100%;
  height: 100%;
}

#pa_then-pic{
  width: 100%;
}

#pa_now-list {
    background-color: #ff7f3f;

}

#pa_then-btn{
    text-align: center;
    background-color: #ffa665;
    border: 5px, bold, purple;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 35px;
    border-radius: 2em;
}
#pa_then-list{
    background-color: orange;
}
#pa_navbar{
  display: none;
    overflow: hidden;
    background-color: darkred;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 37%; /* Full width */
    border-radius: 1em;
}
#pa_navbarcontent {
    float: left;
    display: block;
    color: #f55c20;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#pa_empty-div {
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: darkorange;
  color: white;
  font-size: 5em;
  text-align: center;
  border-radius: 1em
}
/*End Patrick*/

/*Jim*/

ji_mainWelcome {
  position: relative;
}

#ji_JimDiv{
  margin: auto;  
  position: relative;
  left:0;
  right: 0;
  top: 100px;
  bottom: 0;
  width: 300px;
  height: 300px;
  background-color: #88BB00;
  font-family: 'Droid Serif', serif;
}

#ji_divtext{
  position: absolute;
  text-align: center;
  text-shadow: 2px 2px grey;
  right: 20%;
  top: 24%;
  color: floralwhite;
  font-size: 40px;
}
.jih2test {
    background-color: limegreen;
    
}
.jiboxbig {
    font-size: 150%;
    font-weight: bold;
    max-height: 600px;
    min-height: 250px;
    max-width: 1500px;
    min-width: 200px;
    position: fixed;
    overflow: scroll;
    background-image: url("images/ji_sand.jpg")
}
.jiboxsmall {
    height: 85%;
    width: 85%;
}
.jibox {
    font-size: 150%;
    font-weight: bold;
    max-height: 600px;
    min-height: 250px;
    max-width: 1500px;
    min-width: 200px;
    position: fixed;
    overflow: scroll;
    background-color: lightgreen;
}

.ji_shoe {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background: whitesmoke;
    width: 100%;
}
/*End Jim*/