.pa_now-btn{
    border: 2px, bold, purple;
}

.pa_now-list {
    background-color: cadetblue;

}

.pa_then-btn{
    border: 2px, bold, purple;
}
.pa_then-list{
    background-color: darkred;
}
.pa_navbar{
    overflow: hidden;
    background-color: peru;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}
.pa_navbarcontent {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
