<div class="pa_navbar" "pa_navbarcontent">
<button type="submit" name="Logout!" onclick="logOutUser()"></button>

<input type="text" name="password" value="password"><br>
<input type="submit" value="Change!" onclick="updatePassword()">
</div>
<div class="pa_now-btn">NOW</div>
<div class="pa_now-list">
    <p>
At Covalence, I learned the fundamentals of 
    </p>
<ul>Javascript: <p>
    The logical building blocks of most web applications today; 
    I learned to apply this language to everything from drawing mathematical shapes, 
    to object-oriented programming and server logic.
    </p></ul>
<ul>SQL:<p>
    The way we "data";
    I learned how to set up and manipulate databases, as well as store procedures
    to do that for me or other users.
    </p></ul>
<ul>Node:<p>
    Backend Basics;
    I learned how to create a server and locally host it, 
    installing modules to help with any number of needs.
    </p></ul>
<ul>Research:<p>
    Je suis the Google;
    A big theme of the class was learning how to research what we needed ourselves,
    oftentimes using our peers as a resource.
    </p></ul>
<ul>Teamwork:<p>
    #codefam4lyfe;
    at the end of the day, the #1 advantage from learning through Covalence is 
    solving problems through teamwork, knowing that the best code can come from more than one brain.
    </p></ul>
</div>
<div class="pa_then-btn">THEN</div>
<div class="pa_then-list">
<ul>Night Auditor:<p>
    I utilized a checkin/out system running on Java with a SQL database hosted by Oracle.
    I also dealt with the interesting people checking in/out at 2AM.
    I also learned how to stay awake forever.
    </p></ul>
<ul>Front-End Produce Engineer:<p>
    I rectified errors in the wet produce rack and shelves. Also did some middleware work 
    (prepping lettuce, endives, green onions, etc...) I left the backend work to the farmers.
    </p></ul>
<ul>Train Engineer:<p>
    I drove a 3/4 scale train 1 mile around the Birmingham Zoo, maintained the track, 
    and developed an edu-taining tour of the facilities, answering questions and generally
    being the coolest person working at the zoo.
    </p></ul>
<ul>Full-Stack Meal Developer:<p>
    I assembled many sandwiches at Schlotzky's at an urgent speed, using a variety of functions,
    sometimes modified to customer's wishes. I assembled in many other languages, including Salad, 
    Pizza, and Pasta. I was eventually relied upon to help junior sandwich devs with the functions.
    </p></ul>
<ul>Music Teacher<p>
    I designed cirricula to teach students not only how to get better at their instrument, but 
    also how to appreciate and understand the music they were learning. I often gave students 
    techniques to teach themselves and find their own best practices outside of class.
    </p></ul>
<ul>Music Engineer:<p>
    I created these songs through a combination of live recordings and synthesizers. I've used every 
    program from Adobe Audition to Adlib Tracker II for MSDOS in order to create the right sound 
    for my projects. I used best practices of signal routing, mic placement, and spatial design 
    to create the clearest live recordings to create much of the music you hear on this site.
    <iframe width="100%" height="450" scrolling="no" frameborder="no" 
    src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/317257779&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
    </p></ul>
</div>