#pa_now-btn{
    background-color: lawngreen;
    border: 5px, bold, purple;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 35%;
}

#pa_now-list {
    display: none;
    background-color: cadetblue;

}

#pa_then-btn{
    background-color: lightcoral;
    border: 5px, bold, purple;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 35%;
}
#pa_then-list{
    display: none;
    background-color: darkred;
}
#pa_navbar{
    overflow: hidden;
    background-color: peru;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}
#pa_navbarcontent {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
