<div class="pa_now-btn">NOW</div>
<div class="pa_now-list">
    <p>
At Covalence, I learned the fundamentals of 
    </p>
<ul>Javascript: <p>
    The logical building blocks of most web applications today; 
    I learned to apply this language to everything from drawing mathematical shapes, 
    to object-oriented programming and server logic.
    </p></ul>
<ul>SQL:<p>
    The way we "data";
    I learned how to set up and manipulate databases, as well as store procedures
    to do that for me or other users.
    </p></ul>
<ul>Node:<p>
    Backend Basics;
    I learned how to create a server and locally host it, 
    installing modules to help with any number of needs.
    </p></ul>
<ul>Research:<p>
    Je suis the Google;
    A big theme of the class was learning how to research what we needed ourselves,
    oftentimes using our peers as a resource.
    </p></ul>
<ul>Teamwork:<p>
    #codefam4lyfe;
    at the end of the day, the #1 advantage from learning through Covalence is 
    solving problems through teamwork, knowing that the best code can come from more than one brain.
    </p></ul>
</div>
<div class="pa_then-btn">THEN</div>
<div class="pa_then-list">
<ul>Night Auditor:<p>
    I utilized a checkin/out system running on Java with a SQL database hosted by Oracle.
    I also dealt with the interesting people checking in/out at 2AM.
    I also learned how to stay awake forever.
    </p></ul>
<ul>Front-End Produce Engineer:<p>
    I rectified errors in the wet produce rack and shelves. Also did some middleware work 
    (prepping lettuce, endives, green onions, etc...) I left the backend work to the farmers.
    </p></ul>
<ul>Train Engineer:<p>
    
    </p></ul>
<ul>Full-Stack Meal Developer</ul>
<ul>Music Teacher</ul>
<ul>Music Engineer</ul>
<ul></ul>
</div>