<div class="parallax-container">
    
    <div class="parallax"><img src="images/ji_creek.jpg" style="display: block; transform: translate3d(-50%, 555px,0px);">
    </div>
</div>
  <div class="section white">
    <div class="row container">
      <h2 class="header">the Test Parallax</h2>
      <p class="grey-text text-darken-3 lighten-3">Parallax is stupid easy to use. </p>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><img src="images/sand.jpg" style="display: block; transform: translate3d(-50%, 67px, 0px);">
    </div>
  </div>

<footer>
    <div class="ji_shoe">
        <ul>
            <hr>
          
            <input id="input_text" class="ji_password" type="password" data-length="10" ng-model="password">
            <button ng-click="updateUser(4)">Change Passs word!</button>
            <button ng-click="logOutUser()">Log Outs!!</button>
            <a href="/jim/auto" class="button">Hobbies</a>
        
        </ul>
    </div>
</footer>