<div class=jiboxbig>
    <div class=jiboxsmall>
<h2 class=jih2test> Welcome to Jim de Lathouder's About Page </h2>
<h3>Career Objectives</h3>
      <p>I am seeking career opportunities with a primary focus on 
          Full Stack Develoment, Project Management, and Database Design/Administration. 
          I am specifically interested in bringing my technical and analytic skills to the financial, 
          health care, or automotive industries.</p>
<h3>Current Work Experience</h3>
    <p>Business Professional with more than 15 years of experience in loss prevention in the banking 
        industry with a focus on bankruptcy law and creditor rights. Now transitioning in to development.
    </p>
    <ul>
        <li>Currently Programer Analyst I for Regions Bank</li>
        <li>8 years Bankruptcy Specialist for Regions Bank</li>
        <li>2 years Business Leasing Account Manager for Wells Fargo Financial</li>
        <li>6 years Bankruptcy Specialist for Wells Fargo </li>
    </ul>
<h3>Specialties</h3>
    <ul>
        <li>Full Stack Develoment</li>
        <li>Project Management</li>
        <li>Loss Prevention</li>
        <li>Bankruptcy</li>
    </ul>
<h3>Education</h3>
<h4>University of Alabama at Birmingham</h4>
    <p>Bachelor of Science (BS), Management Information Systems<br>
    2009 – 2014</p>
<h4>Des Moines Area Community College</h4>
    <p>Associate of Arts (AA), Liberal Arts and Sciences/Liberal Studies<br>
    2005 - 2007</p>
</div>
</div>
<footer>
    <div class="ji_shoe">
        <ul>
            <hr>
            <input id="input_text" class="ji_password" type="password" data-length="10" ng-model="password">
            <button ng-click="updateUser(4)">Change Passs word!</button>
            <a href="/jim/auto" class="button">Hobbies</a>
            <a href="/jim" class="button">Home again</a>
            <button ng-click="logOutUser()" class="button">Log Outs!!</button>
        
        </ul>
    </div>
</footer>