<nav>
  <div class="nav-wrapper blue-grey lighten-2">
    <a href="/james" class="brand-logo ja_resumeName">James Purcell</a>
    <a ng-click="logOutUser()" class="waves-effect waves-light btn ja_logOutButton">LogOut</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/james/education">Education</a></li>
      <li class="active"><a href="/james/software">Software Platforms</a></li>
      <li><a href="/james/about">About</a></li>
      <li>
        <div class="input-field col s6 blue-grey darken-1">
          <input id="input_text" class="ja_password" type="password" data-length="10" ng-model="password">
          <label for="input_text">New Password</label>
        </div>
      </li>
      <li><a class="waves-effect waves-light btn" ng-click="updateUser(1)">Submit</a></li>
    </ul>
  </div>
</nav>

<div class="container" id="ja_softwareList">
  <ul class="collection" id="">
    <div class="ja_softwareItem">
    <li style="transform: translateX(0px); opacity: 1;">
      <img src="images/ja_powershell_thumb.png" alt="" class="circle">
      <iframe class="ja_softwareVideo" width="200" height="150" src="https://www.youtube.com/embed/kg1L0FdaYLQ" allowfullscreen></iframe>
      <a href="https://msdn.microsoft.com/en-us/powershell" class="secondary-content"><i class="material-icons">
        <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></i></a>
      <h4><a href="https://msdn.microsoft.com/en-us/powershell">Powershell</a></h4>
      <p>learned: 90%</p>
      <div class="progress">
        <div class="determinate" style="width: 90%"></div>
      </div>
    </li>
    </div>
    <div class="ja_softwareItem">
    <li class="" style="transform: translateX(0px); opacity: 1;">
      <img src="images/ja_javascript_thumb.png" alt="" class="square">
      <iframe class="ja_softwareVideo" width="200" height="150" src="https://www.youtube.com/embed/fju9ii8YsGs" allowfullscreen></iframe>
      <a href="https://www.javascript.com/news" class="secondary-content"><i class="material-icons">
        <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></i></a>
      <h4><a href="https://www.javascript.com/news">Javascript</a></h4>
      <p>learned: 65%</p>
      <div class="progress">
        <div class="determinate" style="width: 65%"></div>
      </div>
    </li>
    </div>

    <div class="ja_softwareItem">
    <li class="" style="transform: translateX(0px); opacity: 1;">
      <img src="images/ja_dotnet_thumb.png" alt="" class="rectangle">
      <iframe class="ja_softwareVideo" width="200" height="150" src="https://www.youtube.com/embed/iRSAmekqRBo" allowfullscreen></iframe>
      <a href="https://msdn.microsoft.com/en-us/library/kx37x362.aspx" class="secondary-content"><i class="material-icons">
          <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></i></a>
      <h4><a href="https://msdn.microsoft.com/en-us/library/kx37x362.aspx">C# and .net</a></h4>
      <p>learned: 55%</p>
      <div class="progress">
        <div class="determinate" style="width: 55%"></div>
      </div>
    </li>
    </div>

    <div class="ja_softwareItem">
    <li class="" style="transform: translateX(0px); opacity: 1;">
      <img src="images/ja_jquery_thumb.png" alt="" class="circle">
      <iframe class="ja_softwareVideo" width="200" height="150" src="https://www.youtube.com/embed/BWXggB-T1jQ" allowfullscreen></iframe>
      <a href="http://jquery.com/" class="secondary-content"><i class="material-icons">
          <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></i></a>
      <h4><a href="http://jquery.com/">JQuery</a></h4>
      <p>learned: 85%</p>
      <div class="progress">
        <div class="determinate" style="width: 85%"></div>
      </div>
    </li>
    </div>

    <div class="ja_softwareItem">
    <li class="" style="transform: translateX(0px); opacity: 1;">
      <img src="images/ja_mdt_thumb.png" alt="" class="">
      <iframe class="ja_softwareVideo" width="200" height="150" src="https://www.youtube.com/embed/Iv-Rc_V08-s" allowfullscreen></iframe>
      <a href="https://blogs.technet.microsoft.com/msdeployment/" class="secondary-content"><i class="material-icons">
          <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></i></a>
      <h4><a href="https://blogs.technet.microsoft.com/msdeployment/">Microsoft Deployment Toolkit 2013</a></h4>
      <p>learned: 98%</p>
      <div class="progress">
        <div class="determinate" style="width: 98%"></div>
      </div>
    </li>
    </div>

    <div class="ja_softwareItem">
    <li class="" style="transform: translateX(0px); opacity: 1;">
      <img src="images/ja_sccm_thumb.png" alt="" class="">
      <iframe class="ja_softwareVideo" width="200" height="150" src="https://www.youtube.com/embed/OpRGKIUy37s" allowfullscreen></iframe>
      <a href="https://technet.microsoft.com/en-us/library/gg682129.aspx" class="secondary-content"><i class="material-icons">
          <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></i></a>
      <h4><a href="https://technet.microsoft.com/en-us/library/gg682129.aspx">SCCM 2012 R2</a></h4>
      <p>learned: 35%</p>
      <div class="progress">
        <div class="determinate" style="width: 35%"></div>
      </div>
    </li>
    </div>

    <div class="ja_softwareItem">
    <li class="" style="transform: translateX(0px); opacity: 1;">
      <img src="images/ja_hyperv_thumb.png" alt="" class="">
      <iframe class="ja_softwareVideo" width="200" height="150" src="https://www.youtube.com/embed/KQUQtSuwWpc" allowfullscreen></iframe>
      <a href="https://technet.microsoft.com/en-us/library/gg682129.aspx" class="secondary-content"><i class="material-icons">
          <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></i></a>
      <h4><a href="https://technet.microsoft.com/en-us/library/gg682129.aspx">Microsoft Hyper-V</a></h4>
      <p>learned: 45%</p>
      <div class="progress">
        <div class="determinate" style="width: 45%"></div>
      </div>
    </li>
    </div>
  </ul>
</div>

