<div class="ja_welcomePage">
    <div class="carousel">
        <a class="carousel-item"><img class="ja_PersonalPics" src="images/ocean.jpg"></a>
        <a class="carousel-item"><img class="ja_PersonalPics" src="images/island.jpg"></a>
        <a class="carousel-item"><img class="ja_PersonalPics" src="images/heaven.jpg"></a>
        <a class="carousel-item"><img class="ja_PersonalPics" src="images/shae.jpg"></a>
        <a class="carousel-item"><img class="ja_PersonalPics" src="images/hut.jpg"></a>
    </div>
</div>