<nav>
  <div class="nav-wrapper blue-grey lighten-2">
    <a href="/james" class="brand-logo ja_resumeName">James Purcell</a>
    <a ng-click="logOutUser()" class="waves-effect waves-light btn ja_logOutButton">LogOut</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/james/education">Education</a></li>
      <li><a href="/james/software">Software Platforms</a></li>
      <li><a href="/james/about">About</a></li>
      <li>
        <div class="input-field col s6 blue-grey darken-1">
          <input id="input_text" class="ja_password" type="password" data-length="10" ng-model="password">
          <label for="input_text">New Password</label>
        </div>
      </li>
      <li><a class="waves-effect waves-light btn" ng-click="updateUser(1)">Submit</a></li>
    </ul>
  </div>
</nav>

<section class="ja_module ja_parallax parallax-1">
  <div class="ja_container">
    <h1>Innovator</h1>
  </div>
</section>

<section class="ja_module ja_content">
  <div class="ja_container">
    <h2>Constantly re-defining the boundries of technology</h2>
    <p>A software / hardware IT professional with more than ten years of experience
       in the information systems, technical service, and entertainment industries. 
       Acknowledged strengths in technical / artistic web design, IT networking systems,
       and customer service. A detail oriented and change hardy problem solver who learns quickly,
       develops close professional relationships, and possesses a strong desire to translate technical
       language into common and understandable terms.</p>
  </div>
</section>

<section class="ja_module ja_parallax parallax-2">
  <div class="ja_container">
    <h1>scholarly</h1>
  </div>
</section>

<section class="ja_module ja_content">
  <div class="ja_container">
    <h2>Always learning the latest concepts</h2>
    <p>From understanding the kernal OS or developing a game in a browser.
       The ability to always lookup and keep up to date with the latest technology trends.
       These are examples of the knowledge grind that I enjoy to implement.
       The ability to better oneself is always available as long as the drive is present.
       If it is a concept never explored or adding onto existing knowledge.
       The drive for extensive knowledge will never end. </p>
  </div>
</section>

<section class="ja_module ja_parallax parallax-3">
  <div class="ja_container">
    <h1>Creator</h1>
  </div>
</section>

<section class="ja_module ja_content">
  <div class="ja_container">
    <h2>Artistic creation of fine art or automation thru scripting.</h2>
    <p>The empty code screen is the same as a white and freshly stretched canvas.
       The ability to change and be different adds a creative value that can showcase a concept.
       Rather it be rebuilding or starting from scratch, the quality of my creation is close to perfection.
    </p>
  </div>
</section>
