<nav>
  <div class="nav-wrapper blue-grey lighten-2">
    <a href="/james" class="brand-logo ja_resumeName">James Purcell</a>
    <a ng-click="logOutUser()" class="waves-effect waves-light btn ja_logOutButton">LogOut</a>
    <ul class="right hide-on-med-and-down">
      <li class="active"><a href="/james/education">Education</a></li>
      <li><a href="/james/software">Software Platforms</a></li>
      <li><a href="/james/about">About</a></li>
      <li>
        <div class="input-field col s6 blue-grey darken-1">
          <input id="input_text" class="ja_password" type="password" data-length="10" ng-model="password">
          <label for="input_text">New Password</label>
        </div>
      </li>
      <li><a class="waves-effect waves-light btn" ng-click="updateUser(1)">Submit</a></li>
    </ul>
  </div>
</nav>

<div id="ja_eduPage">
  <div id="ja_collegeBox">
    <div class="container">
            <iframe class="ja_collegeVideo" width="200" height="150" src="https://www.youtube.com/embed/EC7M0eoWr2Y" allowfullscreen></iframe>
      <img src="images/ja_college.jpg" alt="">
      <h5>B.A. University of Alabama at Birmingham, 2005</h5>
      <p>Major: Art Studio / Graphic Design
      </p>
      <br>
      <h5>Individual Training Classes and Certifications</h5>
        <ul>
          <a href="http://blug.info"><li>BLUG(Birmingham Large User Group): Introduction to C#</li></a>
          <br>
          <a href="https://www.microsoft.com/en-us/learning/course.aspx?cid=50414"><li>Course 50414B: Microsoft Windows PowerShell® v2 For Administrators</li></a>
          <br>
          <a href="https://www.microsoft.com/en-us/learning/course.aspx?cid=10961B"><li>Course 10961B: Automating Administration with Windows PowerShell® Part 2</li></a>
          <br>
          <a href="https://www.microsoft.com/en-us/learning/course.aspx?cid=55039"><li>Course 55039A: Windows PowerShell Scripting and Toolmaking</li></a>
          <br>
          <a href="https://www.microsoft.com/en-us/learning/course.aspx?cid=OD20411"><li>Course OD20411D: Administering Windows Server® 2012</li></a>
          <br>
          <a href="http://www.thinkhdi.com/education/courses/hdi-support-center-analyst.aspx"><li>HDI Support Center Analyst (HDI-SCA)</li></a>
          <br>
          <a href="https://www.microsoft.com/en-us/learning/course.aspx?cid=40076A"><li>MVA Workshop: Troubleshooting Windows Systems with SysInternals Tools</li></a>
          <br>
          <a href="https://certification.comptia.org/certifications/a"><li>CompTIA A+ / Desktop Technician</li></a>
          <br>
          <a href="http://www.lexmark.com/en_us/solutions/government/certifications-for-government.html"><li>Lexmark MFP Certification</li></a>
          <br>
        </ul>
    </div>
  </div>
</div><!-- end EDU page -->