
<nav>
  <div class="nav-wrapper blue-grey lighten-2">
    <a href="#!" class="brand-logo ja_resumeName">James Purcell</a>
    <a ng-click="logOutUser()" class="waves-effect waves-light btn ja_logOutButton">LogOut</a>
    <ul class="right hide-on-med-and-down">
        <li>
        <div class="input-field col s6 blue-grey darken-1">
            <input id="input_text" class="ja_password" type="password" data-length="10" ng-model="password">
            <label for="input_text">New Password</label>
          </div>
        </li>
        <li><a class="waves-effect waves-light btn" ng-click="updateUser(1)">Submit</a></li>
    </ul>
  </div>
</nav>
<div>
  <img src="images/ja_profile.jpg" alt="" class="circle responsive-img">
</div>