<div class="input-field s12 m4 l8" id="userBox">
  <input id="user" type="text" ng-model="email" class="userLogin">
  <label for="user">User</label>
</div>
<div class="input-field s12 m4 l8" id="passwordBox">
  <input id="password" type="password" ng-model="password" class="validate">
  <label for="password">Password</label>
  <button class="btn waves-effect waves-light loginButton" ng-click="login()" type="submit" name="action">Login
    <i class="material-icons right"></i>
  </button>
</div>

<div id="passwordRemove">
  <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
</div>

<div class="contents">
  <div class="col-md-6 quarter" id="pa_mainWelcome">
    <div class="col s12 m2 z-depth-5 divButton" id="pa_PatrickDiv">
      <div id="pa_divtext">Patrick Summey</div>
    </div>
  </div>
  <div class="col-md-6 quarter" id="ja_mainWelcome">
    <div class="col s12 m2 z-depth-5 divButton" id="ja_JamesDiv">
      <div id="ja_divtext">James Purcell</div>
    </div>
  </div>

  <div class="col-md-6 quarter" id="ji_mainWelcome">
    <div class="col s12 m2 z-depth-5 divButton" id="ji_JimDiv">
      <div id="ji_divtext">Jim<br>de Lathouder</div>
    </div>
  </div>

  <div class="col-md-6 quarter" id="ry_mainWelcome">
    <div class="col s12 m2 z-depth-5 divButton" id="ry_RyanDiv">
      <div id="ry_divtext">Ryan Carlson</div>
    </div>
  </div>
</div>
<!-- contents -->