
<div class="input-field s12 m4 l8" id="passwordBox">
  <input id="password" type="password" class="validate">
  <label for="password">Password</label>
</div>

<div class="contents">
  <div class="col-md-6 quarter" id="pa_mainWelcome">
    <div class="col s12 m2 z-depth-5" id="pa_PatrickDiv">
      <div id="pa_divtext">Patrick Summey</div>
    </div>
  </div>
  <div class="col-md-6 quarter" id="ja_mainWelcome">
    <div class="col s12 m2 z-depth-5" id="ja_JamesDiv">
      <div id="ja_divtext">James Purcell</div>
    </div>
  </div>

  <div class="col-md-6 quarter" id="ji_mainWelcome">
    <div class="col s12 m2 z-depth-5" id="ji_JimDiv">
      <div id="ji_divtext">Jim Delathouder</div>
    </div>
  </div>

  <div class="col-md-6 quarter" id="pa_mainWelcome">
    <div class="col s12 m2 z-depth-5" id="ry_RyanDiv">
      <div id="ry_divtext">Ryan Carlson</div>
    </div>
  </div>
</div> <!-- contents -->