<head>
    <title>Ryan Carlson Portfolio</title>
    <!--<script type="text/javascript" src="scripts.js"></script>-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="./ryan_styles.css" />-->
</head>


<body>
    <!--Got off bootstrap official site-->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Ryan Carlson - Portfolio</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#Portfolio">Portfolio</a></li>
                <li><a href="#Contact">Contact</a></li>
            </ul>
        </div>
    </nav>

    <!--<div class="parallax-container">
        <div class="carousel" id="test">
            <a class="carousel-item" href=""><img src="images/amsterdam.jpg"></a>
            <a class="carousel-item" href=""><img src="images/cologne.jpg"></a>
            <a class="carousel-item" href=""><img src="images/paris.jpg"></a>
            <a class="carousel-item" href=""><img src="images/verdun.jpg"></a>
        </div>
    </div>-->
    <h2 style="text-align:center; padding-top: 100px">Photography</h2>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="images/amsterdam.jpg" style="padding-top: 50px" class="img-responsive center-block ry_btn-social">
            </div>
            <div class="col-md-4">
                <img src="images/cologne.jpg" style="padding-top: 50px" class="img-responsive center-block ry_btn-social">
            </div>
            <div class="col-md-4">
                <img src="images/paris.jpg" style="padding-top: 50px" class="img-responsive center-block ry_btn-social">
            </div>
        </div>
    
        <div class="row">
            <div class="col-md-4">
                <img src="images/bouillon.jpg" style="padding-top: 50px" class="img-responsive center-block ry_btn-social">
            </div>
            <div class="col-md-4">
                <img src="images/bouillon2.jpg" style="padding-top: 50px" class="img-responsive center-block ry_btn-social">
            </div>
            <div class="col-md-4">
                <img src="images/leuven.jpg" style="padding-top: 50px" class="img-responsive center-block ry_btn-social">
            </div>
        </div>
    </div>
    <button ng-click="logOutUser()">Logout</button>

</body>