<head>
    <title>Ryan Carlson Portfolio</title>
    <!--<script type="text/javascript" src="scripts.js"></script>-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="./ryan_styles.css" />-->
</head>


<body>
    <!--Got off bootstrap official site-->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Portfolio</a>
            </div>
            <ul class="nav navbar-nav">
                <!--<li class="active"><a href="#">Home</a></li>-->
                <li><a href="#">About</a></li>
                <li><a href="#Photography">Photography</a></li>
                <li><a href="#Contact">Contact</a></li>
            </ul>
        </div>
    </nav>

    <!--<div class="parallax-container">
        <div class="carousel" id="test">
            <a class="carousel-item" href=""><img src="images/amsterdam.jpg"></a>
            <a class="carousel-item" href=""><img src="images/cologne.jpg"></a>
            <a class="carousel-item" href=""><img src="images/paris.jpg"></a>
            <a class="carousel-item" href=""><img src="images/verdun.jpg"></a>
        </div>
    </div>-->
    
    <h1 style="text-align:center; padding-top: 100px" id="About">Ryan Carlson - Portfolio</h2>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p style="text-align: center; font-size: 2.00em; padding-top: 70px ">Junior Full-Stack Web Developer. I have practical experience in sales, banking, and coding. Devoted
                    to learning more about computer programming along with the banking industry.</p>
                <p style="text-align: center; font-size: 2.00em; padding-top: 70px">Junior Web Developer - MEAN Stack Trainee - AngularJs, ExpressJS, NodeJS, and MongoDB.</p>
            </div>
            <div class="col-md-6">
                <img src="images/linkedinpicture.jpg" style="padding-top: 30px" class="pull-right img-responsive center-block ry_picture-radius"/>
            </div>
        </div>
    </div>
    
    
    
    
    <h2 style="text-align:center; padding-top: 60px" id="Photography">Photography</h2>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="images/amsterdam.jpg" style="padding-top: 50px" class="img-responsive center-block ry_btn-social">
                <p style="text-align: center">Amsterdam, The Netherlands</p>
            </div>

            <div class="col-md-4">
                <img src="images/cologne.jpg" style="padding-top: 50px" class="img-responsive center-block ry_btn-social">
                <p style="text-align: center">Cologne, Germany</p>
            </div>

            <div class="col-md-4">
                <img src="images/paris.jpg" style="padding-top: 50px" class="img-responsive center-block ry_btn-social">
                <p style="text-align: center">Paris, France</p>
            </div>

        </div>

        <div class="row">
            <div class="col-md-4">
                <img src="images/bouillon.jpg" style="padding-top: 50px" class="img-responsive center-block ry_btn-social">
                <p style="text-align: center">Bouillon, Belgium</p>
            </div>
            <div class="col-md-4">
                <img src="images/bouillon2.jpg" style="padding-top: 50px" class="img-responsive center-block ry_btn-social">
                <p style="text-align: center">Bouillon, Belgium</p>
            </div>
            <div class="col-md-4">
                <img src="images/leuven.jpg" style="padding-top: 50px" class="img-responsive center-block ry_btn-social">
                <p style="text-align: center">Leuven, Belgium</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <img src="images/londonbigben.jpg" style="padding-top: 50px" class="img-responsive center-block ry_btn-social">
                <p style="text-align: center">London, England</p>
            </div>
            <div class="col-md-4">
                <img src="images/londontowerbridge.jpg" style="padding-top: 50px" class="img-responsive center-block ry_btn-social">
                <p style="text-align: center">London, England</p>
            </div>
            <div class="col-md-4">
                <img src="images/londonpalace.jpg" style="padding-top: 50px" class="img-responsive center-block ry_btn-social">
                <p style="text-align: center">London, England</p>
            </div>
        </div>
    </div>
    <button ng-click="logOutUser()">Logout</button>

</body>