<div id="ry_body">
    <title>Ryan Carlson Portfolio</title>
    <!--<script type="text/javascript" src="scripts.js"></script>-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="./ryan_styles.css" />-->




    <!--Got off bootstrap official site-->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Ryan Carlson</a>
            </div>
            <ul class="nav navbar-nav">
                <!--<li class="active"><a href="#">Home</a></li>-->
                <li><a href="#About">Portfolio</a></li>
                <li><a href="#Photography">Photography</a></li>
                <li><a href="#Contact">Contact</a></li>
                <button style="color:grey" ng-click="logOutUser()">Logout</button>
            </ul>
        </div>
    </nav>

    <!--<div class="parallax-container">
        <div class="carousel" id="test">
            <a class="carousel-item" href=""><img src="images/amsterdam.jpg"></a>
            <a class="carousel-item" href=""><img src="images/cologne.jpg"></a>
            <a class="carousel-item" href=""><img src="images/paris.jpg"></a>
            <a class="carousel-item" href=""><img src="images/verdun.jpg"></a>
        </div>
    </div>-->

    <h1 style="text-align:center; padding-top: 100px" id="About">Ryan Carlson - Portfolio</h2>
        <div class="container" style="background-color: white" id="ry_transparency">
            <div class="row">
                <div class="col-md-6">
                    <p style="text-align: center; font-size: 2.00em; padding-top: 60px ">Full-Stack Web Developer and presenter. I have practical experience in sales, banking, and coding.</p>
                    <p style="text-align: center; font-size: 2.00em; padding-top: 60px ">Devoted to learning more about computer programming along with the banking industry.</p>
                    <p style="text-align: center; font-size: 2.00em; padding-top: 60px">MEAN Stack Trainee - MongoDB, ExpressJS, AngularJS, and NodeJS.</p>
                    <p style="text-align: center; font-size: 2.00em; padding-top: 60px">In my spare time I am a photographer. I love to take pictures of the countries that I visit. Below are
                        pictures from European countries that I have visited.</p>
                </div>
                <div class="col-md-6">
                    <img src="images/linkedinpicture.jpg" style="padding-top: 30px" class="pull-right img-responsive center-block ry_picture-radius"
                    />
                </div>
            </div>
        </div>


        <h2 style="text-align:center; padding-top: 60px; color: white" id="Photography">Photography</h2>
        <div class="container" style="background-color: white" id="ry_transparency">
            <div class="row">
                <div class="col-md-4">
                    <img src="images/amsterdam.jpg" style="padding-top: 50px" class="img-responsive center-block ry_btn-social">
                    <p style="text-align: center; font-size: 1.35em">Amsterdam, The Netherlands</p>
                </div>

                <div class="col-md-4">
                    <img src="images/cologne.jpg" style="padding-top: 50px" class="img-responsive center-block ry_btn-social">
                    <p style="text-align: center; font-size: 1.35em">Cologne, Germany</p>
                </div>

                <div class="col-md-4">
                    <img src="images/paris.jpg" style="padding-top: 50px" class="img-responsive center-block ry_btn-social">
                    <p style="text-align: center; font-size: 1.35em">Paris, France</p>
                </div>

            </div>
            <div class="row">
                <div class="col-md-4">
                    <img src="images/bouillon.jpg" style="padding-top: 50px" class="img-responsive center-block ry_btn-social">
                    <p style="text-align: center; font-size: 1.35em">Bouillon, Belgium</p>
                </div>
                <div class="col-md-4">
                    <img src="images/bouillon2.jpg" style="padding-top: 50px" class="img-responsive center-block ry_btn-social">
                    <p style="text-align: center; font-size: 1.35em">Bouillon, Belgium</p>
                </div>
                <div class="col-md-4">
                    <img src="images/leuven.jpg" style="padding-top: 50px" class="img-responsive center-block ry_btn-social">
                    <p style="text-align: center; font-size: 1.35em">Leuven, Belgium</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <img src="images/londonbigben.jpg" style="padding-top: 50px" class="img-responsive center-block ry_btn-social">
                    <p style="text-align: center; font-size: 1.35em">London, England</p>
                </div>
                <div class="col-md-4">
                    <img src="images/londontowerbridge.jpg" style="padding-top: 50px" class="img-responsive center-block ry_btn-social">
                    <p style="text-align: center; font-size: 1.35em">London, England</p>
                </div>
                <div class="col-md-4">
                    <img src="images/londonpalace.jpg" style="padding-top: 50px" class="img-responsive center-block ry_btn-social">
                    <p style="text-align: center; font-size: 1.35em">London, England</p>
                </div>
            </div>
        </div>
        <h2 style="text-align:center; padding-top: 80px; padding-right: 50px; color: white" id="Contact">Contact</h2>
        <div class="container" style="background-color: white" id="ry_transparency">
            <div class="row">
                <div class="col-md-4">
                    <form>
                        <legend><span class="glyphicon glyphicon-globe"></span> My office</legend>
                        <address>
                            <strong>Covalence</strong><br> Innovation Depot<br> Birmingham, AL 35203<br>
                            <abbr title="Phone">
                    P:</abbr> (205) 456-7890
                        </address>
                    </form>
                </div>

                <div class="col-md-4">
                    <a href="https://www.instagram.com/realryancarlson/?hl=en"><i class="fa fa-instagram fa-5x ry_social" aria-hidden="true"></i></a>
                    <a href="https://www.linkedin.com/in/ryan-carlson-448903132/"><i class="fa fa-linkedin fa-5x ry_social" aria-hidden="true"></i></a>
                    <a href="https://github.com/HardestWorker"><i class="fa fa-github fa-5x ry_social" aria-hidden="true"></i></a>
                </div>
                <div class="col-md-4">
                    <address>
                        <strong><p style="text-align: center">Feel free to email me by clicking the link below!</p></strong>
                        <!--<strong><p style="text-align: center">Ryan Carlson</p></strong><br>-->
                        <a href="mailto:rjclight@gmail.com"><p style="text-align: center">rjclight@gmail.com</a></p>
                    </address>
                </div>


            </div>
        </div>
        <!--<button ng-click="logOutUser()">Logout</button>-->